body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  background-image: url('../WWE/assets/wwe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

img {
  width: auto;
  height: 400px;
  cursor: pointer;
  transition: transform 0.5s ease;
  background-color: transparent;
  object-fit: contain;
  position: fixed;
  display: block;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#wrestler1 {
  left: 50px;
  top: 100px;
  z-index: 1;
}

#wrestler2 {
  left: 1200px;
  top: 100px;
  animation: moveUpDown2 2s ease-in-out infinite;
  z-index: 2;
}

@keyframes moveUpDown2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.play-button {
  font-size: 1.5rem;
  width: 100px;
  height: 100px;
  background-color: #ff4f00;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button:hover {
  background-color: #ff7f30;
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  border-top: 2px solid #ff4f00;
  display: none;
}

.score-container {
  margin-bottom: 20px;
}

.score-container h2 {
  margin-bottom: 10px;
  color:yellow
}

.score-container p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.card-container {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: left;
  margin: 0 5%;
}

.card-container h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #ff4f00;
}

.card-container pre {
  background-color: #222;
  padding: 10px;
  color: lightgray;
  border: 1px solid #ff4f00;
  border-radius: 5px;
}

.feature-container {
  margin-top: 20px;
  color:yellow;
}

.feature-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #222;
  color: #ff4f00;
  border: 2px solid #ff4f00;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.feature-button:hover {
  background-color: #ff4f00;
  color: #222;
}

#result-container {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff4f00;
}

.play-again-button {
  background-color: #28a745;
  display: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.play-again-button:hover {
  background-color: #218838;
}
